In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
pwd = os.getcwd()
workSpacePath = os.path.abspath(os.path.join(pwd,'..',))

In [3]:
dataPath = os.path.join(workSpacePath,'health','raw2.csv')

In [19]:
data = pd.read_csv(dataPath,\
    index_col = None,\
    header = None,\
    names = ['id','birthYear','event','attr1','attr2','attr3','attr4','time'],\
    encoding = 'utf-8',)

In [20]:
sample_data = data.sample(n=100)

In [21]:
data.head()

,id,birthYear,event,attr1,attr2,attr3,attr4,time
0,P-0,1954,diagnose,Disease-B,None,None,0,2012-01-01
1,P-0,1954,prescribe,None,Medicine-C,None,0,2012-01-01
2,P-0,1954,labtest,None,None,Labtest-C,44,2012-01-01
3,P-0,1954,labtest,None,None,Labtest-C,25,2012-01-02
4,P-0,1954,diagnose,Disease-B,None,None,0,2012-05-17

In [23]:
sample_data.to_csv(os.path.join(os.getcwd(), 'test.csv'),\
    index = False,
    encoding = 'utf-8')